header {
  text-decoration: none;
  list-style: none;
  width: 100%;
  box-sizing: border-box; }
  header .nav-menu {
    background-color: #3fc3c3; }
    header .nav-menu .logo {
      padding: 0 20px; }
    header .nav-menu .checkbtn {
      font-size: 30px;
      color: white;
      float: right;
      margin-top: 25px;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none; }
    header .nav-menu #check {
      display: none; }
    header .nav-menu .nav-menu__ul {
      float: right;
      margin-right: 20px; }
      header .nav-menu .nav-menu__ul .nav-menu__li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px; }
        header .nav-menu .nav-menu__ul .nav-menu__li a {
          color: white;
          font-size: 20px;
          padding: 7px 13px;
          border-radius: 5%;
          text-transform: uppercase; }
          header .nav-menu .nav-menu__ul .nav-menu__li a:hover {
            color: black; }
        header .nav-menu .nav-menu__ul .nav-menu__li:hover {
          background-color: white;
          transition: .5s; }

@media only screen and (max-width: 480px) {
  .checkbtn {
    display: block; }
  #check:checked ~ ul {
    left: 0; }
  .nav-menu__ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
    .nav-menu__ul .nav-menu__li {
      display: block;
      margin: 50px 0;
      line-height: 30px; }
      .nav-menu__ul .nav-menu__li a {
        font-size: 20px; }
        .nav-menu__ul .nav-menu__li a:hover {
          background: none;
          color: #0082e6; } }

.containerServicios {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "solucion innovacion estrategia nutricion"; }
  .containerServicios .boxServicios1 {
    margin: 20px;
    margin-top: 50px;
    margin-left: 35%;
    padding: 10px;
    text-align: left;
    grid-area: solucion; }
    .containerServicios .boxServicios1 .listaServicios1 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios1 .listaServicios1 .listaServicios1__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios1 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }
  .containerServicios .boxServicios2 {
    margin: 20px;
    margin-top: 50px;
    margin-left: 35%;
    padding: 10px;
    text-align: left;
    grid-area: innovacion; }
    .containerServicios .boxServicios2 .listaServicios2 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios2 .listaServicios2 .listaServicios2__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios2 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }
  .containerServicios .boxServicios3 {
    margin: 20px;
    margin-top: 50px;
    margin-left: 35%;
    padding: 10px;
    text-align: left;
    grid-area: estrategia; }
    .containerServicios .boxServicios3 .listaServicios3 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios3 .listaServicios3 .listaServicios3__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios3 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }
  .containerServicios .boxServicios4 {
    margin: 20px;
    margin-top: 50px;
    margin-left: 35%;
    padding: 10px;
    text-align: left;
    grid-area: nutricion; }
    .containerServicios .boxServicios4 .listaServicios4 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios4 .listaServicios4 .listaServicios4__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios4 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .containerServicios {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "solucion innovacion"  "estrategia nutricion"; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .containerServicios {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "solucion" "innovacion"  "estrategia"  "nutricion"; } }

@media (max-width: 480px) {
  .containerServicios {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "solucion" "innovacion"  "estrategia"  "nutricion"; } }

.containerNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem;
  justify-content: space-between;
  align-items: center; }
  .containerNosotros .boxNosotros1 {
    width: 100%;
    margin: 10px;
    margin-left: 25%;
    padding: 5px;
    text-align: center; }
  .containerNosotros .boxNosotros2 {
    width: 600px;
    border: 2px solid black;
    margin: 20px;
    margin-left: 35%;
    padding: 10px;
    background-color: #f1ecec;
    border-radius: 10px;
    text-align: left; }
    .containerNosotros .boxNosotros2 .listaNosotros {
      color: dimgrey;
      list-style-position: inside;
      list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif"); }
      .containerNosotros .boxNosotros2 .listaNosotros .listaNosotros__item {
        font-size: 1.1rem; }
  .containerNosotros .boxNosotros3 {
    width: 100%;
    margin: 10px;
    padding: 10px;
    margin-left: 25%;
    text-align: center; }
  .containerNosotros .boxNosotros4 {
    width: 600px;
    border: 2px solid #080808;
    margin: 20px;
    margin-left: 30%;
    padding: 5px;
    background-color: #340c68; }

.containerBlog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  .containerBlog .notas {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 300px; }
    .containerBlog .notas .boxBlog1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 20px;
      padding: 10px;
      text-align: center; }
    .containerBlog .notas .boxBlog2 {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1px solid black;
      margin: 10px;
      padding: 5px;
      text-align: center;
      border-radius: 5px; }
      .containerBlog .notas .boxBlog2 .img {
        width: 300px;
        float: left;
        padding: 10px; }
    .containerBlog .notas .boxBlog3 {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 10px;
      padding: 10px;
      align-items: center; }
    .containerBlog .notas .boxBlog4 {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 10px;
      padding: 10px;
      align-items: center; }

.containerRedes {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: #3fc3c3; }
  .containerRedes .containerRedes__li {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    text-align: center; }
    .containerRedes .containerRedes__li a {
      display: block;
      padding: 0 10px;
      background-color: #333;
      color: #fff;
      line-height: 50px;
      font-size: 18px;
      box-shadow: 0 3px 5px 0 px rgba(0, 0, 0, 0.2);
      transition: .2s; }
    .containerRedes .containerRedes__li:hover {
      filter: blur(2px);
      transform: translate(-3px) scale(1.05);
      box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
      filter: none; }
    .containerRedes .containerRedes__li .facebook:hover:hover {
      background-color: #3b5999; }
    .containerRedes .containerRedes__li .linkedin:hover:hover {
      background-color: #0077b5; }
    .containerRedes .containerRedes__li .instagram:hover:hover {
      background-color: #e4405f; }
    .containerRedes .containerRedes__li .twitter:hover:hover {
      background-color: #55acee; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #efffff;
  font-family: 'Raleway', sans-serif; }
  body h1 {
    color: #8a8686;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Suez One', serif;
    padding: 10px; }
  body h2 {
    color: cornflowerblue;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: 'Suez One', serif; }
  body h3 {
    font-family: 'Suez One', serif; }
  body h4 {
    font-size: 1rem;
    text-align: center;
    color: black;
    font-family: 'Suez One', serif; }
  body p {
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5; }
  body .bordeRedondeado {
    border-radius: 5%; }
