@charset "UTF-8";
/* finalmente utilicé un menú hamburguesa de bootstrap, lo adapté dentro del html */
.containerServicios {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "solucion innovacion estrategia nutricion"; }
  .containerServicios .boxServicios1 {
    margin: 20px;
    margin-top: 50px;
    padding: 5px;
    text-align: left;
    grid-area: solucion; }
    .containerServicios .boxServicios1 .listaServicios1 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios1 .listaServicios1 .listaServicios1__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios1 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }
  .containerServicios .boxServicios2 {
    margin: 20px;
    margin-top: 50px;
    padding: 5px;
    text-align: left;
    grid-area: innovacion; }
    .containerServicios .boxServicios2 .listaServicios2 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios2 .listaServicios2 .listaServicios2__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios2 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }
  .containerServicios .boxServicios3 {
    margin: 20px;
    margin-top: 50px;
    padding: 5px;
    text-align: left;
    grid-area: estrategia; }
    .containerServicios .boxServicios3 .listaServicios3 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios3 .listaServicios3 .listaServicios3__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios3 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }
  .containerServicios .boxServicios4 {
    margin: 20px;
    margin-top: 50px;
    padding: 5px;
    text-align: left;
    grid-area: nutricion; }
    .containerServicios .boxServicios4 .listaServicios4 {
      color: dimgray;
      list-style-position: inside;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .containerServicios .boxServicios4 .listaServicios4 .listaServicios4__item {
        font-size: 1.1rem; }
    .containerServicios .boxServicios4 .titulosServicios:hover {
      transition: 2s;
      font-size: 2.5rem; }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .containerServicios {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "solucion innovacion"  "estrategia nutricion"; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .containerServicios {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "solucion" "innovacion"  "estrategia"  "nutricion"; } }

@media (max-width: 480px) {
  .containerServicios {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "solucion" "innovacion"  "estrategia"  "nutricion"; } }

/* finalmente utilicé formulario de Bootstrap */
.containerNosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .containerNosotros .boxNosotros1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    padding: 10px;
    text-align: center;
    justify-content: space-between; }
  .containerNosotros .boxNosotros2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    border: 2px solid black;
    margin-left: 25%;
    padding: 10px;
    background-color: #f1ecec;
    border-radius: 10px;
    text-align: left;
    align-items: center; }
    .containerNosotros .boxNosotros2 .listaNosotros {
      color: dimgrey;
      list-style-position: inside;
      list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif"); }
      .containerNosotros .boxNosotros2 .listaNosotros .listaNosotros__item {
        font-size: 1.1rem; }
  .containerNosotros .boxNosotros3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align: center;
    align-items: center; }
  .containerNosotros .boxNosotros4 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 35%;
    border: 2px solid #080808;
    border-radius: 10px; }
  .containerNosotros .boxNosotros4 iframe {
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.containerBlog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .containerBlog .notas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%; }
    .containerBlog .notas .boxBlog1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px;
      text-align: center; }
    .containerBlog .notas .boxBlog2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px;
      align-items: center; }
    .containerBlog .notas .tarjetas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 25%;
      padding-right: 25%; }
      .containerBlog .notas .tarjetas .card {
        padding: 10px;
        margin: 10px;
        align-items: center; }

.containerVideo {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 40px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%; }

.containerVideo iframe,
.containerVideo object,
.containerVideo embed {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%; }

.containerRedes {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: #3fc3c3; }
  .containerRedes .containerRedes__li {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    text-align: center; }
    .containerRedes .containerRedes__li a {
      display: block;
      padding: 0 10px;
      background-color: #333;
      color: #fff;
      line-height: 50px;
      font-size: 18px;
      box-shadow: 0 3px 5px 0 px rgba(0, 0, 0, 0.2);
      transition: .2s; }
    .containerRedes .containerRedes__li:hover {
      filter: blur(2px);
      transform: translate(-3px) scale(1.05);
      box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
      filter: none; }
    .containerRedes .containerRedes__li .facebook:hover:hover {
      background-color: #3b5999; }
    .containerRedes .containerRedes__li .linkedin:hover:hover {
      background-color: #0077b5; }
    .containerRedes .containerRedes__li .instagram:hover:hover {
      background-color: #e4405f; }
    .containerRedes .containerRedes__li .twitter:hover:hover {
      background-color: #55acee; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #efffff;
  font-family: 'Raleway', sans-serif; }
  body h1 {
    color: #8a8686;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Suez One', serif;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%; }
  body h2 {
    color: cornflowerblue;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: 'Suez One', serif; }
  body h3 {
    font-family: 'Suez One', serif; }
  body h4 {
    font-size: 1rem;
    text-align: center;
    color: black;
    font-family: 'Suez One', serif; }
  body p {
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5; }
  body .bordeRedondeado {
    border-radius: 5%; }
